/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
/*raleway and merriweather fonts: font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;*/
*{
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #97d289;
  margin: 0px;
  padding: 50px;
}
/*top edits*/
#top{
  border: 5px solid #778899;
  box-shadow: 4px 4px rgba(0,0,0,0.2);
}
.title, .contact{
  text-align: center;
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 30px;
  }
/*title edits*/
.sectiontitle{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #778899;
  text-align: center;
}


.program, .details, .software, .position{
  font-family: 'Merriweather', serif;
  margin: auto;
  padding: 10px;

}
.rightcontainer, #alljobs, .row{
  border: 2px solid #778899;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px 10px;
  border: 5px 10px;
  background-color: #ffffff;
}

.navbar-brand{
  text-align: right;
}


.fa {
  color: #97d289;
}
/*media queries*/
/*extra small device (phone)*/
@media only screen and (max-width: 767px) {
  #top{
    position: static;
}

/*small device (tablet)*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  .description{

  }
}

/*medium device (desktop between 992 and 1199px)*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}


/*large device (desktop larger than 1200px)*/
@media only screen and (min-width: 1200px){
  .rightcontainer{
      float: right;
    }
}
