/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
/*raleway and merriweather fonts: font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;*/
*{
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background-color: #778899;
  margin: 0px;
  padding: 50px;
}
.navbar-brand{
  text-align: right;
}
.row{
  background-color: #ffffff;
}


.job{
  margin: 20px;
}
.title, .contact{
    background-color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    text-align: center;

}
.rightcontainer{
  float: right;
  position: relative;
}

.experience, .rightcontainer{
  background-color: #ffffff;
  border: 5px solid #97d289;
}
.experience{

}

.sectiontitle{

}
.li{

}
.description{

}

.program{

}

.education, .skills, .organizations{
  margin: 20px;
}
.job, .program, .software, .position{
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

.navbar{

}
.fa {
  color: #97d289;
}
/*media queries*/
/*extra small device (phone)*/
@media only screen and (max-width: 767px) {

}

/*small device (tablet)*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*medium device (desktop between 992 and 1199px)*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}


/*large device (desktop larger than 1200px)*/
@media only screen and (min-width: 1200px){

}
