/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
/*raleway and merriweather fonts: font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;*/
body {
  font-size: 20px;
  background-color: #778899;
  margin: 0px;
  padding: 50px;
}
.row{
  background-color: #ffffff;
}


.job{
  margin: 20px;
}
.title, .contact{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.rightcontainer{
  float: right;
  position: relative;
}

.experience, .rightcontainer{
  background-color: #ffffff;
  border: 5px solid #97d289;
}

.details{

}
.li{

}
.description{

}

.program{

}

.education, .skills, .organizations{
  margin: 20px;
}


.navbar{

}
.fa {
  color: #97d289;
}
