/*styles for my resume*/
/*default fonts*/
#bottom {
  font-size: 12px;
  font-weight: 300;
  color: #444;
  font-family:'Open Sans', Arial, sans-serif;
}
.menu {
  font-family:'Open Sans', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  display: inline;
}
/*Name edits*/
#name {
  font-family:'Open Sans', Arial, sans-serif;
  border-bottom: 1px solid #FDB020;
  margin: 5px auto;
  text-align: center;
  font-size: 4em;
  width: 60%;
  min-width: 300px;
}
 /*section titles*/
 .sectionheader {
   font-size: 2em;
   margin: 0 0 10 0;
   text-align: center;
   width: 30%;
   min-width: 150px;
   border-bottom: 1px solid #FDB020;
   background-color: #d1d1d1;
   color: rgba(255, 255, 255, 1);
 }
.organization {
  font-size: 2em;
  text-transform: uppercase;

}
 /*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
 /*job organization*/
.organization {
  font-size: 1.3em;
}
 /*job dates*/
.date {
  font-style: italic;
  margin: 2px 0 0 0;
}
/*description*/
.description{
  margin-top: 10;
}
 /*contact info, skills, education*/
#skills{
   font-size: 1.1em;
}

#degrees{
  margin-top: 5px;
}
#do{
  margin-top: 5px;
}
