/*styles for my resume*/
/*default fonts*/
* {
  box-sizing: border-box;
}
div {
  font-weight: 300;
}
body {
  font-size: 12px;
  margin: 0px;
  padding: 0px;

}
#top {
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 10px 0px;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 2);
}

#bottom {
  font-size: 12px;
  font-weight: 300;
  color: #444;
  font-family:'Open Sans', Arial, sans-serif;
  margin: 0px auto;
  position: relative;
  top: 120px;
  width: 95%;
  height: auto;
  overflow: auto;
}

.menu {
  font-family:'Open Sans', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li {
  display: inline;

}

.menu li a{
    text-decoration: none;
    color: #444;
}
/*Name edits*/
#name {
  font-family:'Open Sans', Arial, sans-serif;
  border-bottom: 1px solid #FDB020;
  margin: 5px auto;
  text-align: center;
  font-size: 4em;
  width: 60%;
  min-width: 300px;
}
 /*section titles*/
 .sectionheader {
   font-size: 2em;
   margin: 7px 0px 10px 0px;
   text-align: center;
   width: 30%;
   min-width: 150px;
   border-bottom: 1px solid rgba(253, 176, 32, 0.4);
   background-color: #d1d1d1;
   color: rgba(255, 255, 255, 1);
   float: left;
 }

 .alljobs{
   float: left;
   width: 65%;
   margin: 0px 0px 0px 4%;
   padding-left: 20px;
   border-left: 1px solid rgba(253, 176, 32, 0.3);
 }

.organization {
  font-size: 2em;
  text-transform: uppercase;
}
/*experience edits*/
#experience, #skills, #education {
   font-size: 1.1em;
   margin: 0px auto 20px auto;
   padding: 10px;
   width: 90%;
   height: auto;
   overflow: auto;
   border: 1px solid #f2f2f2;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
ul {
  list-style: none;
  margin-top: 3px;
}

 /*job titles*/
 .job {
   margin: 0 0 15px 0;
}

.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
 /*job organization*/
.organization {
  font-size: 1.3em;
}
 /*job dates*/
.date {
  font-style: italic;
  margin: 2px auto;
}
/*description*/
.description {
  margin: 10px auto;
}
 /*contact info, skills, education*/
 .contact{
   color: #444;
}

#degrees, #do {
  margin: 0 0 0 4%;
  width: 65%;
  float: left;
  -webkit-padding-start: 21px;
  border-left: 1px solid rgba(253, 176, 32, 0.3);
}
#degrees li, #do li{
  margin: 0 0 3px 0;
}
.bolding{
  font-weight: 600;
}
/*media quereies for various devices*/
/*extra small device (phone)*/
@media only screen and (max-width: 767px) {
  #name{
    font-size: 3em;
  }
  #top{
    position: static;
  }
  #bottom{
    top: 0px;
  }
  .alljobs{
    width: 100%;
    float: none;
    margin: 0px;
    border-left: none;
  }
  .sectionheader{
    margin: 10px 15px center;
    padding: 5px 10px;
    width: 97%;
    min-width: 0;
    text-align: center;
  }
  #degrees, #do{
    margin: 15px 0px 2% 2%;
    padding: 0px 20px;
    width: 100%;
    float: none;
    -webkit-padding-start: 0px;
    border-left: none;
  }
}

/*small device (tablet)*/
@media only screen and (min-width: 768px) and (max-width: 991px){
  #name{
    font-size: 3.6em;
  }
}

/*medium device (desktop between 992 and 1199px)*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
  #name{
    font-size: 3.9em;
  }
}

/*large device (desktop larger than 1200px)*/
@media only screen and (min-width: 1200px) {
  #experience{
    width: 60%;
    float: right;
  }
  #education, #skills{
    width: 38.5%;
    float: left;
    overflow-x: hidden;
  }
  #degrees, #do{
    margin: 15px 2% 0 2%;
    width: 100%;
    float: none;
    -webkit-padding-start: 0px;
    border-left: none;
  }
  .sectionheader{
    margin: 7px 15px auto;
    padding: 5px 10px;
    width: 97%;
    min-width: 0px;
    float: none;
  }
  .alljobs{
    width: 100%;
    float: none;
    margin: 0px;
    border-left: none;
    padding: 0px 10px 10px 10px;
  }
}
