/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/
/*styles for class*/

/*legend colors: #ffc6c4 top quartile, #ee919b 2nd, #cc607d 3rd, #9e3963 bottom*/
body {
  padding-top: 50px;
  font-size: 12px;
  font-family: 'Open Sans', Helvetica,sans-serif;
}

.navbar{
  background-color:  #ffc6c4;
  overflow: hidden;
}

.topsection{
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.ct-line, .ct-point {
  stroke: #9e3963 !important;
}

.topbox, h1{
  font-size: 5rem;
  font-weight: 600;
}

.byline{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #777;
  margin: 15px 0px 0px 20px;
  font-style: italic;
}
h3{
  text-align: center;
}
span {
text-transform: lowercase;
}
.source{
  text-align: center;
}
p, .lead{
  font-size: 1.75rem;
}

.carousel-inner, img{
  height: 345;
  width: 460;
  display: block;
}
.carousel-caption{
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
.article{
  padding: 10px;
}
.graphiccontainer{
  margin: 0px 0px 20px 0px;
  padding: 20px;
}

.textblock{
  margin: 0px 20px 0px 0px;
  padding: 0px 20px;
}

.graphictitle h2{
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px;
}
.graphictext{
  margin: 15px 0px 0px 0px;
}

.graphictext, p{
  font-size: 1.35rem;
}

.graphicblock{
  padding: 0px 20px;

}
/*chartist section*/
.ct-label .ct-chart-line{
  font-size: 15px;
}
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #9e3963;
  /* Size of your points */
  stroke-width: 10px;
  /* Make your points appear as shape */
  stroke-linecap: circle;
}
.ctThreshold{
  stroke-dasharray: 5px;

}
.ct-series-a .ct-line {
  /* Colour of line */
  color: #9e3963;

  /* Size of line */
  stroke-width: 3px;
}
/*legend box section*/
.legendbox h4{
  padding-left: 10px;
}

.legendbox{
  width: 90px;
  height: 300px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 35px;
  background-color: #eee;
}

.legendentry{
  padding-left: 10px;
  font-size: 11px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px
}

.map{
  max-width: 600px;
  border: 2px inset;
}

.topq{
  background-color: #ffc6c4;
}

.twoq{
  background-color: #ee919b;
}

.threeq{
  background-color: #cc607d;
}

.bottomq{
  background-color: #9e3963;
  color: #eee;
}


#buttontwo{
  display: none;
}


/*media query section*/
@media only screen and (max-width: 767px){
  .textblock{
    margin: 0px;
    padding: 10px;
  }
  .graphicblock{
    border: 0px;
    border-bottom: 2px solid #777;
    padding: 10px;
    margin-bottom: 20px;

  }
  .topsection{
    padding: 20px;
  }
  .topsection h1{
    font-size: 3.8rem;
  }
  .legendbox{
    margin-top: 100px;
    position: relative;
    height: 125px;
    width: 300px;
    left: 20px;

  }
}
@media only screen and (min-width: 768px){
  .col-sm-12{
    width: 100%;
  }
}
